---
import { Either } from "effect";

import { Card, CardContent, CardHeader } from "~/components/ui/card";
import WithSidebar from "~/layouts/WithSidebar.astro";
import { collections } from "~/lib/contents";

const tools = collections.find((c) => c.slug === "tools");

if (!tools) {
  throw new Error("Cannot find contents!");
}
---

<WithSidebar title="Uta Tools">
  <main class="py-4">
    <div class="flex flex-col gap-8 md:gap-12">
      {
        tools.categories.map((category) => (
          <div>
            <h3 class="mb-4 text-xl font-semibold">{category.name}</h3>
            <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
              {category.contents.map((content) => (
                <a
                  href={`/tools/${category.slug}/${content.slug}`}
                  class="scale-[98%] transition-transform hover:scale-100"
                >
                  <Card>
                    <CardHeader>
                      <div class="grid aspect-square select-none place-content-center rounded-md border-[1px] @container">
                        {Either.match(content.icon, {
                          onLeft: (Icon) => <Icon />,
                          onRight: (right) => (
                            <img loading="lazy" src={right} alt="icon" />
                          ),
                        })}
                      </div>
                    </CardHeader>
                    <CardContent class="@container">
                      <p class="text-md text-center font-semibold @[130px]:text-lg @[180px]:text-xl">
                        {content.name}
                      </p>
                    </CardContent>
                  </Card>
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </main>
</WithSidebar>
