---
import {
  ContentConfig,
  ContentConfigLabel,
  ContentConfigRoot,
  ContentConfigSection,
} from "~/components/common/Config";
import { Label } from "~/components/ui/label";
import * as m from "~/paraglide/messages";
import { From, JSONFormat, To } from "./Config";
import {
  CookiesInput,
  CookiesInputClearButton,
  CookiesInputCopyButton,
  CookiesInputPasteButton,
} from "./CookiesInput";
import { CookiesOutput, CookiesOutputCopyButton } from "./CookiesOutput";
import { SwapFormat } from "./SwapFormat";
---

<ContentConfigSection>
  <ContentConfigRoot>
    <ContentConfigLabel
      name={m.tools_converters_convert_from()}
      description={m.tools_converters_convert_from_description()}
    />
    <ContentConfig>
      <From client:load />
    </ContentConfig>
  </ContentConfigRoot>
  <ContentConfigRoot>
    <ContentConfigLabel
      name={m.tools_converters_convert_to()}
      description={m.tools_converters_convert_to_description()}
    />
    <ContentConfig>
      <To client:load />
    </ContentConfig>
  </ContentConfigRoot>
  <ContentConfigRoot>
    <ContentConfigLabel
      name={m.tools_converters_cookies_config_format_json()}
      description={m.tools_converters_cookies_config_format_json_description()}
    />
    <ContentConfig>
      <JSONFormat client:load />
    </ContentConfig>
  </ContentConfigRoot>
</ContentConfigSection>

<div class="mt-6">
  <div class="mb-2 flex items-end justify-between">
    <Label for="cookies-input">{m.tools_common_text()}</Label>
    <div class="h-10">
      <SwapFormat client:only="solid-js" />
      <CookiesInputClearButton client:only="solid-js" />
      <CookiesInputPasteButton client:only="solid-js" />
      <CookiesInputCopyButton client:only="solid-js" />
    </div>
  </div>
  <CookiesInput client:load />
</div>

<div class="mb-6 mt-6">
  <div class="mb-2 flex items-end justify-between">
    <Label for="cookies-output">{m.tools_common_output()}</Label>
    <div class="h-10">
      <CookiesOutputCopyButton client:only="solid-js" />
    </div>
  </div>
  <CookiesOutput client:load />
</div>
