---
import type { Lang } from "~/i18n/utils";
import { OverlayScrollbarsComponent } from "overlayscrollbars-solid";
import { collections } from "~/lib/contents";
import { languageTag } from "~/paraglide/runtime";

const lang = languageTag();
---

<aside
  class="invisible fixed z-50 hidden h-[calc(100svh-4.5rem)] py-4 md:visible md:sticky md:block"
>
  <OverlayScrollbarsComponent defer client:load options={{ scrollbars: { autoHide: "leave" } }}>
    <div class="flex h-[calc(100svh-7rem)] flex-col gap-10">
      {
        collections.map((collections) => {
          return (
            <div class="flex flex-col gap-1">
              <a
                href={`/${lang}/${collections.slug}`}
                class="mb-2 text-2xl font-semibold hover:underline"
              >
                {collections.i18n[lang]}
              </a>
              <div class="flex flex-col gap-4">
                {collections.categories.map((category) => {
                  return (
                    <div class="flex flex-col gap-1">
                      <h4 class="mb-1 text-lg font-semibold">{category.i18n[lang]}</h4>
                      {category.contents.map((content) => (
                        <a
                          href={`/${lang}/${collections.slug}/${category.slug}/${content.slug}`}
                          class="text-sm text-muted-foreground hover:text-foreground active:text-foreground data-[current-path]:font-semibold data-[current-path]:text-foreground data-[current-path]:underline"
                        >
                          {content.i18n[lang]}
                        </a>
                      ))}
                    </div>
                  );
                })}
              </div>
            </div>
          );
        })
      }
    </div>
  </OverlayScrollbarsComponent>
  <script>
    const currentUrl = new URL(window.location.href);
    const pathname = currentUrl.pathname;
    const anchorElement = document.querySelector<HTMLAnchorElement>("a[href='" + pathname + "']");
    if (anchorElement) {
      anchorElement.dataset.currentPath = "true";
    }
  </script>
</aside>
