---
import type { Lang } from "~/i18n/ui";
import {
  ContentConfig,
  ContentConfigLabel,
  ContentConfigRoot,
  ContentConfigSection,
} from "~/components/common/Config";
import { Label } from "~/components/ui/label";
import * as m from "~/paraglide/messages";
import { Operation, Repeat } from "./Config";
import {
  Base64Input,
  Base64InputClearButton,
  Base64InputCopyButton,
  Base64InputPasteButton,
} from "./Input";
import { Base64Output, Base64OutputCopyButton } from "./Output";
import SwapInputOutput from "./SwapInputOutput";

const { lang } = Astro.params as { lang: Lang };
---

<div>
  <ContentConfigSection>
    <ContentConfigRoot>
      <ContentConfigLabel
        name={m.tools_converters_config_operation()}
        description={m.tools_converters_config_operation_description()}
      />
      <ContentConfig>
        <Operation client:load />
      </ContentConfig>
    </ContentConfigRoot>
    <ContentConfigRoot class="py-2.5 md:py-4">
      <ContentConfigLabel
        name={m.tools_converters_config_repeat()}
        description={m.tools_converters_config_repeat_description()}
      />
      <ContentConfig>
        <Repeat client:load />
      </ContentConfig>
    </ContentConfigRoot>
  </ContentConfigSection>
</div>

<div class="mt-6">
  <div class="mb-2 flex items-end justify-between">
    <Label for="base64-input" class="font-semibold">{m.tools_common_input()}</Label>
    <div class="h-10">
      <Base64InputClearButton client:only="solid-js" />
      <Base64InputPasteButton client:only="solid-js" />
      <Base64InputCopyButton client:only="solid-js" />
    </div>
  </div>
  <Base64Input client:load />
</div>

<div class="mt-10 grid h-12 place-content-center">
  <SwapInputOutput client:only="solid-js" />
</div>

<div class="mb-6">
  <div class="mb-2 flex items-end justify-between">
    <Label for="base64-output" class="font-semibold">{m.tools_common_output()}</Label>
    <div class="h-10">
      <Base64OutputCopyButton client:only="solid-js" />
    </div>
  </div>
  <Base64Output client:load />
</div>
